<div class ="row content">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search</h5>
                <form action="/todo/list">
                    <div class="mb-3">
                        <input type="checkbox" name="finished">완료여부
                    </div>
                    <div class="mb-3">
                        <input type="checkbox" name="types" value="t">제목
                        <input type="checkbox" name="types" value="w">작성자
                        <input type="checkbox" name="types" value="c">내용
                        <input name="keyword" class="form-control">
                    </div>
                    <div class="input-group mb-3 dueDateDiv">
                        <input type="date" name="from" class="form-control">
                        <input type="date" name="to" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="front-end">
                            <button class="btn btn-primary" type="submit">검색</button>
                            <button class="btn btn-info" type="reset">초기화</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>